th{
    font-weight: 200;
    color:crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgb(252, 167, 185);
    padding: 5px;
    }

    table{
        font-family: cursive;
        border-collapse: collapse;
        border-width: 2px;
        border-style: solid;
        border-color: crimson;
    }
    
    h1{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 900;
    }